#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)
PKG_TYPE    := $(shell jq -r '.type' composer.json)

%:
	dh $@

override_dh_install:
	dh_install
	install -m 644 debian/autoload.php \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/autoload.php
	sed -i -e '/require_once/c\require_once '"'"'/usr/share/abraflexi-contractor/autoload.php'"'"';' \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/*.php
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g' \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/init.php
	sed -i -e 's/\.\./\/etc\/abraflexi/g' \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/init.php
	sed -i -e 's/\.\./\/usr\/lib\/abraflexi-contractor/' \
	    debian/abraflexi-contractor/usr/lib/abraflexi-contractor/Contractor/*.php
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/autoload.php
	sed -i "s|'library'|'$(PKG_TYPE)'|g" \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
	    debian/abraflexi-contractor/usr/share/abraflexi-contractor/autoload.php

override_dh_auto_test:
	appstreamcli validate --pedantic --no-net \
	    debian/io.github.vitexsoftware.abraflexi_contractor.metainfo.xml
